/*$ Index.html style  */
@keyframes scroll {
    0% { transform: translateY(100vh); }  /* Start below the screen */
    100% { transform: translateY(-100vh); }  /* End above the screen */
}
.scroll-animation {
    animation: scroll 10s linear infinite;
    opacity: 1;
}
/*$ End Index.html style  */

/*$ For main body   */
body{
    background-image: linear-gradient(to right, var(--tw-gradient-stops));

    
    --tw-gradient-from: #1e1b4b var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(30 27 75 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(49 46 129 / 0)  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #312e81 var(--tw-gradient-via-position), var(--tw-gradient-to);

    --tw-gradient-to: #3730a3 var(--tw-gradient-to-position);

    --tw-text-opacity: 1;
    color: rgb(74 222 128 / var(--tw-text-opacity)) /* #4ade80 */;

    height: 100vh;

    overflow: hidden;
    overflow-y: scroll;

    position: relative;

}
/*$Ends For main body   */

/*$ Prog_Basics style  */
.cursor {
    display: inline-block;
    width: 2px;
    background-color: #ffffff;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*$ End Prog_Basics style  */